body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.main__wrapper {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
}

.main__header {
    color: #af9759;
    /* background: -moz-linear-gradient(top, #000000 0%, #3b3b3b 100%); FF3.6-15 */
    /* background: -webkit-linear-gradient(top, #000000 0%,#3b3b3b 100%); Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, #000000 0%,#3b3b3b 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: 3em;
    font-family: 'Great Vibes', cursive;;
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.main__content,
.main__bg {
    overflow: hidden;
}

.main__content {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main__bg,
.main__bg img,
.main__bg:before,
.main__bg:after {
    position: absolute;
}

.main__bg,
.main__bg:before {
    height: 100%;
    width: 100%;
}

.main__bg--2 {
    -webkit-transform: skewX(63.5deg);
    -ms-transform: skewX(63.5deg);
    transform: skewX(63.5deg);
    transform-origin: right bottom;
    z-index: 2;
}

.main__bg:before {
    content: "";
    opacity: 0;
    background-color: #bba471;
}

.main__bg:first-child:before {
    z-index: 1;
}

.main__bg:last-child:before {
    z-index: 3;
}

.main__bg:hover:before {
    opacity: 0.6;
}

.main__bg:before, .main__bg:after {
    display: block;
}

.main__bg:after {
    z-index: 5;
    font-size: 4.5em;
    color: #cfbc9b;
    text-shadow: 3px 3px 5px #423333;
}

.main__bg:first-child:after {
    content: "French";
    right: 20px;
}

.main__bg:last-child:after {
    content: "English";
    left: 20px;
}

.main__bg:hover:after {
    color: #f2e5cf;
}

.main__bg img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
}

.main__bg--1 img {
    right: 0;
}

.main__bg--2 img,
.main__bg:last-child:after {
    -webkit-transform: skewX(-63.5deg);
    -ms-transform: skewX(-63.5deg);
    transform: skewX(-63.5deg);
    transform-origin: inherit;
    bottom: 0;
}

/* TABLETS */

@media (max-device-width: 1200px) {
    .main__bg--1 img {
        top: -15%;
        height: 115%;
    }    
}

@media (max-device-width: 1200px) and (orientation: portrait){
    .main__bg--1 img {
        right: -40%;
    }  
    .main__bg--2 {
        -webkit-transform: skewX(39deg);
        -ms-transform: skewX(39deg);
        transform: skewX(39deg);
    }
    .main__bg--2 img,
    .main__bg:last-child:after {
        -webkit-transform: skewX(-39deg);
        -ms-transform: skewX(-39deg);
        transform: skewX(-39deg);
    }
}

@media (max-device-width: 1200px) and (orientation: landscape){
    .main__bg--1 img {
        right: -15%;
    }  
    .main__bg--2 {
        -webkit-transform: skewX(56deg);
        -ms-transform: skewX(56deg);
        transform: skewX(56deg);
    }
    .main__bg--2 img,
    .main__bg:last-child:after {
        -webkit-transform: skewX(-56deg);
        -ms-transform: skewX(-56deg);
        transform: skewX(-56deg);
    }
}

/* MOBILE */

@media (max-device-width: 767.9px) and (orientation: portrait){
    .main__bg--1 img {
        right: -50%;
    }
    .main__bg--2 {
        -webkit-transform: skewX(31deg);
        -ms-transform: skewX(31deg);
        transform: skewX(31deg);
    }
    .main__bg--2 img,
    .main__bg:last-child:after {
        -webkit-transform: skewX(-31deg);
        -ms-transform: skewX(-31deg);
        transform: skewX(-31deg);
    }
}

@media (max-device-width: 767.9px) and (orientation: landscape){
    .main__bg--1 img {
        top: -10%;
        right: 0;
    }
    .main__bg--2 {
        -webkit-transform: skewX(64deg);
        -ms-transform: skewX(64deg);
        transform: skewX(64deg);
    }
    .main__bg--2 img,
    .main__bg:last-child:after {
        -webkit-transform: skewX(-64deg);
        -ms-transform: skewX(-64deg);
        transform: skewX(-64deg);
    }
}